.container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 100vh;
    background-color: white;
  }
  
  .main {
    max-width: 800px;
    padding: 2rem;
    text-align: right;
  }
  
  .title {
    font-size: 2rem;
  }
  
  .description {
    font-size: 1.25rem;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  
  .card {
    border: 1px solid #eaeaea;
    padding: 1.5rem;
    border-radius: 4px;
    transition: all 0.2s ease;
  }
  
  .card:hover {
    border-color: #0070f3;
  }
  
  .socialLinks {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding-top: 1rem;
  }
  